.App {
}

.tabsWrapper {
    display: flex;
    justify-content: center;
}

.navLink {
    text-decoration: none;
    color: white;
}
.backNavLink {
    text-decoration: none;
}

.pageNumber {
    margin: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.backButtonWrapper {
    padding: 5px;
}