.wrapper {
    display: flex;
    justify-content: center;
}
.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: max-content;
}
.pageNumber {
    margin: 0 10px;
}

.filtersWrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

h4 {
    margin-bottom: 20px !important;
}