.wrapper {
    display: flex;
    justify-content: center;
}
.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: max-content;
}
.pageNumber {
    margin: 0 10px;
}

.filtersWrapper {
    min-width: 180px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

h4 {
    margin-bottom: 20px !important;
}

.tabsWrapper {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.pageNumber {
    margin: 5px;
}

.backNavLink {
    text-decoration: none;
}